body {
    margin: 0px;
    padding: 0px;
    display: flex;
    color: white;
    height: 100%;
}

/* channel's list style*/

.channelContainer {
    width: 22%;
    min-width: 250px;
    min-height: 700px;
    background-color:#191C23;
    display: flex;
    font-family: 'Poppins', sans-serif;
}

.channelList {
    list-style: none;
    background-color: #191C23;
    display: block;
    position: relative;
    margin: 10px;
    padding: 5px;
}
.itemChannel {
    height: 25px;
    padding: 5px;
    color: white;
    background-color: #191C23;
    display:block;
    margin: auto;
    font-size: 1em;   
}
.itemChannel:active{

    background-color:#747779 ;
    border-radius: 2px;
}

/* Messages container style */
.messagesContainer {
    width: 78%;
    min-width: 550px;
    height: 100vh;
    min-height: 700px;
    background-color:#153e55;
    display: flex;
    flex-direction: column;
    
}

.messageDiv {
    width: 97%;
    height: 100%;
    min-width: 500px;
    min-height: 600px;
    margin: 10px;
    background-color: #153e55;
    display: inline-block;
    align-self: auto;
    overflow: hidden;
    border-radius: 3px;
    overflow: scroll;
    scrollbar-track-color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-family: 'Roboto', sans-serif;
}

.msgBox{
    background-color: red;
    color:blue;
    padding: 5px;
    display: flex;  
    align-items: flex-start;
}

.picUser{
    min-width: 50px;
    min-height: 50px;
    background-color: salmon;
    margin: 3px;
}

.content{
    min-width: 200px;
    min-height: 50px;
    background-color: pink;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin:3px;
}

.content .data {

    min-width: 150px;
    min-height: 20px;
    background-color: gray;
    display: flex;
    flex-direction: row;
    margin: 3px;
}

.content .data .name, .timeStamp {
    height: 20px;
    min-width: 100px;
    max-width: auto;
    background-color: black;
    margin: 3px;

}

.content .text {
    width: 300px;
    height: 40px;
    background-color: blue;
    display: flex;
    margin: 3px;
    align-items: flex-start;

}

.boxButtonContainer {
    height: auto;
    width: 95%;
    min-width:  500px;
    margin-bottom: 0px;
    display: flex;
    margin-top: auto;
    background-color: #153e55;

}

.messageBox {
    width: 80%;
    min-width: 500px;
    height: 30px;
    background-color: #222529;
    margin: 10px ;
    margin-bottom: 20px;
    display: inline-block;
    align-content: center;
    border-radius: 5px;
    border: solid 1px #747779;
    font-size: 20px;
    color: #656769;
    padding: 7px;
    align-self: center;
}

.button {
    padding: 10px;
    height: 40px;
    width: 70px;
    border: 0;
    font-family: roboto;
    margin-bottom: 10px;
    vertical-align: middle;
    background-color: gray;
    color:white;
    align-self: center;
    border-radius: 7px;    
}