body {
    margin: 0px;
    padding: 0px;
    display: flex;
    color: white;
}

/* channel's list style*/


.channelContainer {
    width: 22%;
    min-width: 250px;
    height: 100vh;
    min-height: 700px;
    background-color:yellow;
    display: flex;
}

.channelList {
    list-style: none;
    background-color: red;
    display: inline-block;
    margin: 20px;
    text-align: center;
}
.itemChannel {
    color: white;
    background-color: blue;
    display:block;
}



/* Messages container style */
.messagesContainer {
    width: 78%;
    min-width: 550px;
    height: 100vh;
    min-height: 700px;
    background-color:#191C23;
    display: flex;
    flex-direction: column;
    
}

.messageDiv{
    width: 90%;
    min-width: 500px;
    height: 600px;
    margin: 10px;
    background-color: blue;
    display: inline-block;
    align-self: auto;
    overflow: hidden;
    border-radius: 3px;
    overflow: scroll;
}

.messageDiv .msg{
    background-color: red;
    width: 200px;
    height: 50px;
    color:blue;

}
.boxButtonContainer {
    height: auto;
    width: 95%;
    min-width:  500px;
    display: flex;

}

.messageBox {
    width: 80%;
    min-width: 500px;
    height: 30px;
    background-color: #222529;
    margin: 10px ;
    margin-bottom: 20px;
    display: inline-block;
    align-content: center;
    border-radius: 5px;
    border: solid 1px #747779;
    font-size: 20px;
    color: #656769;
    padding: 7px;
    align-self: center;
}

.button {
    padding: 10px;
    height: 40px;
    width: 70px;
    margin-bottom: 10px;
    vertical-align: middle;
    background-color: gray;
    color:white;
    align-self: center;
    border-radius: 7px;    
}